{% extends "base.html" %}
{% block content %}
  <section class="section">
    <div class="container">
       <!-- Main Content Grid -->
      <div class="columns">
        <!-- Left Column -->
        <div class="column is-8">
          <!-- Project Header -->
          <div class="block">
            <h1 class="title is-2">{{ project.title }}</h1>
            <p class="subtitle is-5 has-text-grey">{{ project.subtitle }}</p>
            <div class="tags mt-4">
              {% for tag in project.tags %}
                <span class="tag is-link is-light">{{ tag.title }}</span>
              {% endfor %}
            </div>
          </div>
          <!-- Overview Section -->
          <div class="block mb-6">
            <h2 class="title is-4 mb-4">Overview</h2>
            <div class="content">
              {% for section in project.section_overview %}
                {{ section.render_html() | render_jinja }}
              {% endfor %}
            </div>
          </div>
          <!-- Learning Goals -->
          <div class="card mb-5">
            <header class="card-header has-background-primary">
              <p class="card-header-title has-text-white">
                Goals
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                {% for section in project.section_goals %}
                  <div class="message is-dark">
                    <div class="message-header">
                      <p>{{ section.title }}</p>
                    </div>
                    <div class="message-body">
                      {{ section.render_html() | render_jinja }}
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <!-- Implementation Details -->
          <h2 class="title is-4">Implementation Details</h2>
          <div class="content">
            {% for section in project.section_implementation %}
              <article class="media">
                <figure class="media-left">
                  <p class="image is-64x64">
                    <span class="icon is-large has-text-primary">
                      <i class="{{ section.icon }}"></i>
                    </span>
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>{{ section.title }} </strong>
                    </p>
                      {{ section.render_html() | render_jinja }}
                  </div>
                </div>
              </article>
            {% endfor %}
          </div>
        </div>

        <!-- Right Sidebar -->
        <div class="column is-4">
          <div class="columns is-mobile">
            {% if project.github_url %}
              <div class="column has-text-centered">
                <a class="button is-primary" href="{{ project.github_url }}">
                    <span class="icon">
                      <i class="fab fa-github"></i>
                    </span>
                    <span>View on GitHub</span>
                </a>
              </div>
            {% endif %}
            {% if project.deployment_url %}
              <div class="column has-text-centered">
                <a class="button is-primary" href="{{ project.deployment_url }}">
                  <span class="icon">
                    <i class="fa fa-link"></i>
                  </span>
                  <span>Visit Deployment</span>
                </a>
              </div>
            {% endif %}
          </div>
          <!-- Progress Section -->
          <div class="box mb-6">
            <h2 class="title is-4 mb-4">
              Development Progress
            </h2>
            <div class="panel-block">
              <div class="container">
                <div class="columns">
                  <div class="column">
                    <p class="title is-5">Status</p>
                  </div>
                  <div class="column">
                    <span class="{{ project.status_badge_color }}">{{ project.status.display_title }}</span>
                  </div>
                </div>
                <div class="columns">
                  <div class="column">
                    <p class="title is-5">Start Date</p>
                  </div>
                  <div class="column">
                  <p class="is-5 mb-3">{{ project.created_at.strftime('%Y-%m-%d')}}</p>
                  </div>
                </div>
                <div class="columns">
                  <div class="column">
                    <p class="title is-5">Features</p>
                  </div>
                  <div class="column">
                  </div>
                </div>
                <table class="table is-striped is-fullwidth">
                  <tbody>
                    {% for feature in project.features %}
                      <tr>
                        <td>{{ feature.title }}</td>
                        <td><span class="{{ feature.status_badge_color }}">{{ feature.status.display_title }}</span></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- Technology Stack -->
          <div class="box is-fullwidth mb-6">
            <h3 class="title is-5">Technology Stack</h3>
            <div class="menu">
              <p class="menu-label">
                Languages
              </p>
              <ul class="menu-list">
                {% for technology in project.languages%}
                  <li class="is-flex is-align-items-center">
                    <figure class="image is-rounded is-16x16">
                      <img src="{{ technology.image_url}}" />
                    </figure>
                    <a>{{ technology.title }}</a>
                  </li>
                {% endfor %}
              </ul>
              <p class="menu-label">
                Backend
              </p>
              <ul class="menu-list">
                {% for technology in project.backend_technologies %}
                  <li class="is-flex is-align-items-center">
                    <figure class="image is-rounded is-16x16">
                      <img src="{{ technology.image_url}}" />
                    </figure>
                    <a>{{ technology.title }}</a>
                  </li>
                {% endfor %}
              </ul>
              <p class="menu-label">
                Frontend
              </p>
              <ul class="menu-list">
                {% for technology in project.frontend_technologies %}
                  <li class="is-flex is-align-items-center">
                    <figure class="image is-rounded is-16x16">
                      <img src="{{ technology.image_url}}" />
                    </figure>
                    <a>{{ technology.title }}</a>
                  </li>
                {% endfor %}
              </ul>
              <p class="menu-label">
                DevOps
              </p>
              <ul class="menu-list">
                {% for technology in project.devops_technologies %}
                  <li class="is-flex is-align-items-center">
                    <figure class="image is-rounded is-16x16">
                      <img src="{{ technology.image_url}}" />
                    </figure>
                    <a>{{ technology.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Next Steps -->
      <div class="notification is-light">
        <h2 class="title is-4 mb-3">Exploratory Avenues</h2>
        <div class="content">
          <div class="columns">
            {% for next in project.section_exploration %}
              <div class="column">
                <p class="has-text-weight-semibold mb-2">{{ next.title }}</p>
                {{ next.render_html() | render_jinja }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  {% if project.related_content %}
  <section class="section is medium">
    <div class="container">
      <div class="subtitle">
        Related Content
      </div>
      <div class="columns is-centered">
        {% for content in project.related_content %}
          <div class="column is-one-fifth">
            {% include '_related_content_card.html' %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}
{% endblock %}
